<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p class="centered">This website is provided in an early stage development format to enable user feedback, testing, and concept validation. It is available to HHS Staff via the HHS intranet. We hope you find it useful and will share the website with other HHS Department staff.  Parts of the website may not function perfectly. Further, parts of this website may not be accessible to those using assistive technologies.</p>
      <p class="centered">If you want to provide feedback, have questions about the website, or need accessibility assistance, please contact Read Holman at 202-690-5946 or <a href="mailto:Read.Holman@hhs.gov?subject=HHS FairTrade">Read.Holman@hhs.gov</a></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-md-12">
          <ul class="list-unstyled" style="display:inline">
            <li><a href="/about">About HHS FairTrade(Beta)</a></li>
            <li><a href="mailto:read.holman@hhs.gov?subject=HHS FairTrade">Contact Us</a></li>
            <li><a href="http://hhs.gov/accessibility.html" target="_new">Accessibility</a></li>
            <li><a href="http://www.hhs.gov/open/recordsandreports/plainwritingact/index.html" target="_new">Plain Writing Act</a></li>
            <li><a href="http://www.hhs.gov/plugins.html" target="_new">Viewers & Players</a></li>
            <li><a href="http://intranet.hhs.gov" target="_new">HHS Intranet Home</a></li>
        </ul>
      </div>
    </div>
    <div class="row row-top-padded">
      <div class="col-md-12">
        <a href="https://github.com/HHSIDEALab/midas"><i class="icon icon-github"></i> powered by midas</a>
        |
        version <%- version.version %> (<a href="https://github.com/HHSIDEALab/midas/commit/<%- version.gitLong %>"><%- version.gitShort %></a>)
        <% if (login.terms.enabled === true) { %>
        |
        <a href="<%= login.terms.link %>"><%= login.terms.name %></a>
        <% } %>
      </div>
    </div>
  </div>
</div>
