<div class="intro-header">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>HHS FairTrade(Beta)</h1>
          <hr class="intro-divider">
		  <h3>Facilitating the Exchange of Project Ideas and Opportunities </h3>
          <ul class="list-inline intro-social-buttons">
            <li><a class="btn btn-lg btn-c1" href="/tasks"> <span class="network-name">Post Opportunities for Others to Complete</span></a></li>
            <li><a class="btn btn-lg btn-c1" href="/projects"> <span class="network-name">Collaborate on Long Term Projects</span></a></li>
            <li><a class="btn btn-lg btn-c1" href="/about"> <span class="network-name">Learn More</span></a></li>
          </ul>
        </div>        
      </div>
    </div>

  </div><!-- /.container -->

</div><!-- /.intro-header -->
