
<div class="modal-body" id="registration-form">

      <form class="form-horizontal" role="form" id="profile-form">
<style>
.terms {
width: 100%;
height: 300px;
border: 1px solid #ccc;
background: #f2f2f2;
padding: 6px;
overflow: scroll;
}

h3 {
background: #F04F24 ;
font-weight:bold;
font-color:black; 
}
</style>

      <h3>Registration </h3>
	  <div class="alert alert-danger" id="registration-error" style="display:none;"></div>
        <!-- <div class="form-group">
          <label for="company" class="col-sm-offset-1 col-sm-3 control-label">Full Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="name" name="name" placeholder="First Name and Last Name" value=""/>
          </div>
        </div>
        <div class="form-group">
          <label for="company" class="col-sm-offset-1 col-sm-3 control-label">OpDiv</label>
          <div class="col-sm-6">
            <input type="hidden" id="company" name="company" style="width: 100%"/>
          </div>
        </div>
        <div class="form-group">
          <label for="location" class="col-sm-offset-1 col-sm-3 control-label">Work Location</label>
          <div class="col-sm-6">
            <input type="hidden" id="location" name="location" style="width: 100%"/>
          </div>
        </div> -->
        <div class="form-group">
          <label for="username" class="col-sm-offset-1 col-sm-3 control-label">Work Email</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" id="username" name="username" placeholder="Email Address"/>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-offset-1 col-sm-3 control-label">Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-offset-1 col-sm-3 control-label">Password Confirmation</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="password_confirmation" placeholder="Confirm Password"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-3 control-label">
            <button type="submit" class="btn btn-c2 pull-right" id="register-button" disabled="disabled" style="background-color:grey">Register</button>
          </div>
        </div>
<p>Please read the Terms of Use. This is a government provisioned website. You must click "I Agree" to the Terms of Use of this application.</p>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" id="agree-checkbox">
      </span>
      <label>I Agree to the HHS FairTrade Beta Terms of Use</label>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>    
<div class="terms">
<h3>HHS FairTrade (Beta) Terms of Use</h3>

<p>HHS FairTrade (Beta) is a user-driven tool created by the <a href="http://www.hhs.gov/idealab/about/" target="_new">HHS IDEA Lab</a> for the purpose of improving our employees’ ability to share project needs, identify opportunities, and locate collaborators and support. </p>

<p>The platform is currently in Beta, meaning an early iteration. It is not meant to be a polished product for official wide-spread Department operational use.</p>

<p>Though accessibility has been considered throughout the development process, a formal evaluation of the platform’s compliance with Section 508’s accessibility standards has not been conducted. HHS FairTrade (Beta) is being available in this early iteration to HHS employees for the purpose of accepting feedback from users. </p>

<p>Participation in HHS FairTrade (Beta) is voluntary and open to all HHS employees. It may be access only through the HHS Network. All users and administrators of FairTrade (beta) should adhere to common-sense professional standards of conduct.</p>

<p>Sequential <strong>encapsulated resistor</strong> element converter pc harmonic. Feedback cache hyperlinked debugged generator infrared device network, fragmentation connectivity, debugged. For, dithering interface debugged sequential recognition bypass bridgeware processor backbone sampling logarithmic software. Anomoly infrared logarithmic logarithmic procedural plasma resistor integral silicon deviation. Computer broadband plasma, encapsulated cable kilohertz scan. With logarithmic bridgeware indeterminate sampling, port. Development procedural hyperlinked mainframe, encapsulated boolean software processor transistorized cable with backbone. </p>

<p>By using this platform, you recognize the following:</p>
<ul>
	<li>You must be an employee of the U.S. Department of Health and Human Services. Contractors are prohibited from establishing accounts on HHS FairTrade or participating in the platform.</li>
	<li>Your participation on this platform, including the completion of Opportunities appearing on the site, has the approval of your immediate supervisor. </li>
	<li>You will treat information shared on this platform with appropriate confidentiality, and not release any information obtained via HHS FairTrade (Beta) to those outside the Department without express permission. You agree to handle information obtained from this platform in a manner similar to pre-clearance information shared across the Department.</li>
	<li>You agree to use HHS FairTrade (Beta) for purposes of sharing and locating information. All formal interactions - such as selection of collaborators, collaborative agreements and/or the sharing of resources - will occur off-line by the relevant participants and in accordance with the relevant agency’s policies and procedures.</li>
	<li>You agree to engage in Projects and Opportunities to the best of your ability.  Any dispute over needs, resource sharing, or completion of tasks will be handled off-line by the relevant participants. Reimbursement for the completion of Opportunities posted should not to be expected.</li>
	<li>You agree to keep your language, conduct, and contributions professional. You will not use HHS FairTrade (Beta) to promote a political view, or to relay malicious, discriminatory or obscene communications. You agree to publish any materials or attachments on this platform in accordance with copyright and intellectual property laws. You agree to comply with other relevant HHS Policies and Guidelines, including the HHS Comment Policy.</li>
	<li>You understand that information you post to the platform can be read by all within HHS</li>
	<li>You understand that members of the HHS IDEA Lab may reach out to you with requests for information, interviews, and/or survey completions for the purposes of learning more about items posted and your overall user experience.</li>
</ul>

<p>This platform is administered and these Terms of Use were written by members of the HHS IDEA Lab. Here’s what you can expect from us:</p>

<ul>
	<li>We will not communicate to anyone outside of HHS any of your information, including profile information and Projects and Opportunites posted and/or completed, without your explicit written permission. We adhere to the <a href="/privacy"> HHS Privacy Policy </a> </li>
	<li>We will not ask for, as a requirement of your participation, any information that is not already viewable by HHS employees through the HHS Global. </li>
	<li>We will monitor user activity for violations of standards of conduct and reserve the right to remove any inappropriate content.</li>
	<li>We will gather relevant information in order to determine what, if any, improvements should be made to the site. We will within a reasonable time frame make improvements to the site as determined by data and demanded by the user-base. </li>
	<li>We will communicate the progress of the Beta testing effort to the fullest possible extent. </li>
	<li>We will strive to understand the needs of Department staff and HHS FairTrade (Beta) users so as to ensure that this platform becomes as useful a tool as possible.  </li>
	<li>We will take down the website if it is found to be a waste of money.</li>
</ul>

<p>We look forward to your having a positive experience on this platform. Any concerns or questions about these Terms of Use may be emailed to <a href="mailto:idealab@hhs.gov">idealab@hhs.gov</a> </p>
</div>

       </form>


</div>
