<div class="terms">
<h1>About HHS FairTrade (Beta)</h1>

<h3>What is HHS FairTrade (Beta)?  </h3>

<p>This website is a place to help connect HHS employees seeking resources and skills with HHS employees that can supply those resources and skills.</p>

<h3>How does it work?  </h3>

<p>FairTrade (Beta) allows Department staff to post small tasks (“Opportunities”) for other Department staff to complete. Do you have a hundred little things on your to-do list that you can’t seem to get to? Post them as Opportunities to this site: Describe the skillets required, the estimated time it’ll take for someone to complete it, and other information relevant to completing the task.</p>

<p>Maybe you seek a specific expertise, such as that related to 508 compliance or security. Or maybe you just need someone to transcribe a video or take notes during a conference call.</p>

<p>But it’s called FairTrade (Beta) for a reason, if you post Opportunities for others, you should also consider completing those posted by others. Have a slow Thursday afternoon? Search for Opportunities that can be completed in an hour. Looking to expand your horizons and have the bandwidth to take on a longer-term effort? Find Opportunities that are more complex or nuanced in nature. Or find a Project that interests you and follow along.</p>

<h3>Why is it in “Beta”?  </h3>

<p>We released this tool early as an unfinished product (“beta”) intentionally. We think there’s a need for a platform like this, but frankly we’re not sure exactly how (and even if) this will work.   For example, we note overlaps with Yammer and other collaboration tools. </p>

<p>We didn’t want to put forth too many resources for a final product only to find that it’s not very useful to staff.  We’re looking for Beta testers. Please reach out to read.Holman@hhs.gov if you’re interested in helping explore this area.</p>

<h3>What kinds of Opportunities can I post or find on the site? </h3>

<p>Users can post all kinds of things for others to complete, from the very short and mundane tasks that can be completed in under an hour to the complex and critical tasks that are ongoing over the course of several month. </p>

<p>Here are a few specific examples: Providing subject matter expertise and guidance; Testing a new tool or application; Participating on a task force; Borrowing a camera; Transcribing a video or speech; Conducting research; Designing a flyer.</p>

<h3>What’s the difference between a Project and an Opportunity? </h3>

<p>In short: Opportunities are things to be done. Projects are collections of Opportunities. Here’s a larger glossary that spells it out a bit further:</p>

<ul>
	<li>An <strong>Opportunity</strong> is a specific task or activity requesting resources and/or task completion. Opportunities are posted by people that are seeking resources. Opportunities get completed by users that can meet that need. Typically, once an Opportunity gets posted, it doesn’t change much until it has been assigned to someone, after which the Opportunity is no longer available.</li>
	<li>A <strong>Project</strong> is a workspace for communicating and coordinating multiple Opportunities related to a larger effort. Projects tend to be longer-lived than Opportunities and get updated over the life-span of the effort.</li>
	<li>The <strong>Opportunity Owner</strong> creates a specific opportunity in need of resources and has the ability to edit the opportunity. </li>
	<li>The <strong>Project Owner</strong> creates the Project and has the ability to edit and close the project when all activities and Opportunities are completed. </li>
</ul>

<h3>Who is the platform for?  </h3>

<p>This is for Department staff looking for new ways to get things done. Some staff have a lot of items on their to-do list, things that can be posted to FairTrade (Beta) for others to complete. Others have fewer things on their to-do list or have skill sets and interests that can go beyond their particular office.
Staff participating should have the approval of their Contractors are not able to participate. You have to be on the HHS Network in order to access the platform.
</p>

<h3>Great! How do i get started? </h3>

<p>A user account is required to post and join Projects and Opportunities. <a href="#login-register">Register here.</a></p>

<h3>Wait… Where did HHS FairTrade (Beta) come from? Who built and is Administering the site? </h3>

<p>HHS FairTrade (Beta) is a project of the HHS IDEA Lab, an entity run out of the Office of the Deputy Secretary of HHS that is working to towards a more modern and effective government. To learn more about the HHS IDEA Lab, visit<a href="http://hhs.gov/idealab" target="_new"> hhs.gov/idealab.</a> </p>

</div>